<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/AssuntoEnviado.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <a href="#"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">

            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <div class="enviado">
        <img src="https://img.icons8.com/officexs/96/000000/checkmark.png"/>
        <h1>Sucesso!</h1>
        <h4>Em breve nossa equipe entrará em contato</h4>

        <a href="home.html">Ok</a>
    </div>
</body>

</html>