<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/Cirurgia.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Cirurgia - ICare</title>
</head>
<body>
    
    <header>
        <a href="#"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">

            <ul class="nav-list">
                <li><a href="home.html">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="contatos.html">Contatos</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <div class="bloco6">
        <h2>CIRURGIA</h2>
        <p>A cirurgia, quando utilizada no tratamento do câncer, consiste em um procedimento no qual um cirurgião remove o câncer do corpo da pessoa. 
            Os cirurgiões costumam usar facas pequenas e finas, chamadas de bisturis, e outras ferramentas afiadas para cortar o corpo durante a cirurgia. A cirurgia geralmente requer cortes na pele, músculos e, às vezes, nos ossos. Após a cirurgia, esses cortes podem ser dolorosos e levar algum tempo para se recuperar.
        </p>
        <p>A anestesia impede que você sinta dor durante a cirurgia. A anestesia inclui drogas ou outras substâncias que fazem com que o paciente perca a sensibilidade ou a consciência. Existem três tipos de anestesia:</p>

        <ul>
            <li>Local: provoca a perda de sensações em uma pequena parte do corpo.</li>
            <li>Regional: provoca a perda de sensações em uma parte inteira do corpo, como um braço ou perna.</li>
            <li>Geral: causa uma perda de sensação completa do corpo e provoca a inconsciência do paciente. </li>
        </ul>

        <p>Existem outros tipos de cirurgia que não envolvem cortes com o bisturi. Entre esses tipos, podemos citar: </p>

        <ul>
            <li>Hipertermia é o tipo de tratamento no qual pequenas áreas de tecido no corpo são expostas à altas temperaturas. O calor intenso pode danificar e matar as células cancerosas ou torná-las mais sensíveis à radiação e certas drogas usadas na quimioterapia. A hipertermia não é facilmente acessível e ainda está sendo analisada em estudos clínicos. </li>

        <li>Lasers: é um tipo de tratamento que inclui potentes feixes de luz que são utilizados para cortar através de algum tecido. Os lasers podem focar com precisão em áreas minúsculos, então eles podem ser usados em cirurgias que demandem essa maior precisão. Os lasers também podem ser empregados para diminuir ou destruir tumores que podem se tornar um câncer. </li>

        <li>Criocirurgia: também chamada de crioterapia, é um tipo de tratamento no qual um frio extremo produzido por nitrogênio líquido ou gás argônio é utilizado para destruir algum tecido anormal. </li>
        </ul>

        <h3>Tipos de Cirurgia</h3>

        <p>Existem vários tipos de cirurgia. Os tipos se diferem com base no propósito da cirurgia, a parte do corpo que requer o procedimento, a quantidade de tecido a ser removida e, em alguns casos, a preferência do paciente. </p>
        <p>A cirurgia pode ser aberta ou laparoscópica. </p>

        <ul>
            <li>Na cirurgia laparoscópica, o cirurgião faz pequenas incisões ao invés de um corte grande. Ele então insere um tubo longo e fino com uma pequena câmera acoplada dentro de um dos cortes criados; a câmera projeta imagens de dentro do corpo em um monitor, o que possibilita que o cirurgião veja o que ele está fazendo em tempo real. O cirurgião utiliza ferramentas cirúrgicas especiais, que são inseridas através de uma das outras incisões para remover o tumor e parte do tecido saudável. </li>

            <li>Na cirurgia aberta, o cirurgião faz uma grande incisão para remover o tumor, partes de tecido saudáveis e, possivelmente, linfonodos próximos. </li>

            <li>Uma vez que as cirurgias laparoscópicas exigem incisões menores, ela proporciona uma recuperação mais rápida para o paciente. </li>
        </ul>

        <h3>Riscos da cirurgia</h3>

        <p>Cirurgiões são altamente treinados e se certificarão de realizar todos os procedimentos possíveis para impedir problemas durante a cirurgia. Ainda assim, problemas podem ocorrer.
            Um desses problemas são as dores. Após a cirurgia, a maioria das pessoas sentirão dor na parte do corpo que foi operada. A intensidade dessa dor vai depender da magnitude da cirurgia, a parte do corpo afetada e a tolerância do paciente à dor. Um outro problema que pode ocorrer após a cirurgia são infecções. Para se prevenir contra isso, o paciente deve seguir as instruções médicas e cuidar devidamente da área afetada. <br> Outros riscos da cirurgia incluem sangramento, dano à tecidos próximos e reações à anestesia. 
        </p>

    </div>
    <footer>
        <div class="sobre">
            <h4>Sobre</h4>
            <p>Sistema que ajuda no combate ao câncer infantil de modo <br> educativo  que conta com um acervo de Informações <br> relacionadas ao câncer infantil e as circustâncias <br> provenientes da doença </p>
        </div> 
        <div class="sociais">
            <h4>Redes Sociais</h4>
            <p>Facebook</p>
            <p>Instagram</p>
            <p><a href="home.html ">WWW.ICare.com.br</a></p>
        </div>
        <div class="explore">
            <h4>Explore</h4>
            <p><a href="O_Que_É_Câncer.html">O que é o Câncer</a></p>
            <p><a href="Tratamento.html">Tratamentos</a></p>
            <p><a href="Acervo.html">Nosso Acervo</a></p>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>
</html>