<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/EfeitosTardiosDoTratamento.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Efeitos Tardios do Tratamento - ICare</title>
</head>
<body>
    <header>
        <a href="#"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">
            
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="">Sobre nós</a></li>
                <li><a href="Fale_Conosco.html">Fale Conosco</a></li>
            </ul>
        </nav>
    </header>

    <div>

    </div>
</body>
</html>