<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/FaleConosco.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ICare - Fale Conosco</title>
</head>

<body>
    <header>
        <a href="#"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">

            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <div id="form">
        <h1>Fale Conosco</h1>

        <label for="name">Nome</label>
        <input type="text" required placeholder="Informe seu nome completo">

        <label for="email">Email</label><br>
        <input type="email" required placeholder="Informe o seu Email">

        <label for="phone">Telefone</label>
        <input type="tel" required placeholder="(00)-0000-0000">

        <label for="assunto">Assunto</label><br>
        <input type="text" required placeholder="Informe o assunto">

        <label for="mensagem">Mensagem</label>
        <textarea name="" id="" cols="32" rows="6"></textarea>

        <a class="BtnEnviar" href="">Enviar</a>
    </div>
        

        <footer>
            <div class="sobre">
                <h4>Sobre</h4>
                <p>Sistema que ajuda no combate ao câncer infantil de modo <br> educativo que conta com um acervo de
                    Informações <br> relacionadas ao câncer infantil e as circustâncias <br> provenientes da doença </p>
            </div>
            <div class="sociais">
                <h4>Redes Sociais</h4>
                <p>Facebook</p>
                <p>Instagram</p>
                <p><a href="home.html ">WWW.ICare.com.br</a></p>
            </div>
            <div class="explore">
                <h4>Explore</h4>
                <p><a href="O_Que_É_Câncer.html">O que é o Câncer</a></p>
                <p><a href="Tratamento.html">Tratamentos</a></p>
                <p><a href="Acervo.html">Nosso Acervo</a></p>
            </div>
        </footer>


</body>

</html>