<!DOCTYPE html>
<html lang="Pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "> </script>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css " rel=" stylesheet "
        integridade=" sha384- + 0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7 + AMvyTG2x "
        crossorigin=" anônimo ">
        <link rel="stylesheet" href="styles/radioterapia.css">
    <title>Radioterapia - ICare</title>
</head>
<body>
    <header>
        <a href="home.html"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">

            <ul class="nav-list">
                <li><a href="home.html">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="contatos.html">Contatos</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
        <div class="bloco1">
            <h1>Radioterapia</h1>
            <p>Radioterapia é um tratamento de câncer que utiliza altas doses de radiação para eliminar as células cancerosas e encolher tumores ao danificar o DNA dessas células. As células cancerosas cujo DNA foi danificado irreparavelmente param de se dividir ou morrem. Quando essas células morrem, elas são decompostas e removidas pelo corpo.
                A radioterapia não mata as células imediatamente. Levam dias e até semanas de tratamento antes que o DNA das células seja danificado o suficiente para que elas morram. Então, as células cancerosas continuam morrendo por semanas ou meses após o fim da terapia.  
            </p>

            <h2>Tipos de Radioterapia</h2>
            <p>Existem dois tipos de radioterapia, a interna e a externa. O tipo que é utilizado em cada paciente depende de vários fatores, como o tipo de câncer, tamanho do tumor, a localização do tumor no corpo etc. </p>

            <h3>RADIOTERAPIA INTERNA</h3>
            <p>A radioterapia interna é um tipo de tratamento no qual uma fonte de radiação é injetada diretamente dentro do corpo. Essa fonte pode ser sólida ou líquida. 
                A radioterapia interna com uma fonte sólida é chamada de braquiterapia; nesse tipo de tratamento, sementes, fitas ou cápsulas que contêm uma fonte de radiação são inseridas no corpo, dentro ou perto do tumor. Com a braquiterapia, a fonte de radiação no corpo permanecerá emitindo radiação por um período.
            </p>
            <p>A radioterapia interna com uma fonte líquida é chamada de terapia sistêmica. Sistêmico indica que o tratamento viaja através do sangue para tecidos ao longo do corpo, buscando e eliminando células cancerosas. O paciente recebe a terapia de radiação sistêmica por vias orais ou por injeção. Com a radiação sistêmica, todos os fluídos do paciente (como urina, suor e saliva) emitirão radiação por um período.</p>

            <h3>RADIOTERAPIA EXTERNA</h3>
            <p>A radioterapia externa é usada por meio de uma máquina que mira a radiação no câncer. Trata-se de uma máquina grande e possivelmente barulhenta, que se move ao redor do paciente e envia a radiação para uma determinada parte do corpo a partir de múltiplas direções.
                A radioterapia externa é um tratamento local, o que significa que essa terapia trata uma parte específica do corpo. Por exemplo, se o paciente possui o câncer no pulmão, a radiação será enviada somente em seu peito ao invés do corpo todo. 
            </p>

            <h2>Limites de dose durante a vida</h2>
            <p>Existe um limite da quantidade de radiação que cada área do corpo pode receber seguramente ao longo da vida. Dependendo da quantidade de radiação que já foi utilizada nessa área, pode ser que o paciente não seja mais elegível a receber a radioterapia para tratar essa área uma segunda vez. Porém, se uma área já atingiu a dose limite que poderia ter recebido ao longo da vida, uma outra área do corpo ainda pode ser tratada se a distância entre as duas áreas for grande o suficiente. </p>

            <h2>Efeitos Colaterais</h2>
            <p>A radiação não só mata ou diminui o crescimento das células cancerosas, ela também pode afetar as células saudáveis em volta. O dano nessas células saudáveis pode gerar diversos efeitos colaterais, como: fadiga, perda capilar, náusea e vômito, dores de cabeça, inchaços, mudanças na pele, diarreia, problemas sexuais e de fertilidade etc. </p>
        </div>

        <div class="col-sm-4" style="width:21rem;">
            <a href=""><img src="img/Cirurgia.jpg" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><b>3. Cirurgia</b></h5>
              <p class="card-text">	A cirurgia, quando utilizada no tratamento do câncer, consiste em um procedimento no qual um cirurgião remove  <br> câncer do corpo da <br> pessoa. </p>
              <a class="ler" href="Cirurgia.html"
                class="ler">Continuar a leitura</a>
            </div>
          </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>