<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/SobreNos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ICare - Sobre Nós</title>
</head>

<body>
    <header>
        <a href="#"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">

            <ul class="nav-list">
                <li><a href="home.html">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="contatos.html">Contatos</a></li>
                <li><a href="#">Sobre nós</a></li>
                
            </ul>
        </nav>
    </header>
    <div id=tudo>

        <img src="img/• Hospital Infantil Premium •(1).png" id="iCare" alt="">
        <h1>ICARE</h1>
        <p>O site iCare se trata de um sistema educativo que conta com um acervo de informações relacionadas ao câncer infantil e as circunstâncias provenientes da doença. O site disponibiliza um conteúdo extensivo, incluindo textos próprios – devidamente embasados através de pesquisas minuciosas – e armazenamento ou direcionamento para artigos científicos atualmente disponíveis na internet. O intuito do projeto é que ele aja como um portal para informar as pessoas a respeito dos fatores envolvidos na doença – como sintomas e tratamento – a fim de conscientizá-las. Além disso, algumas das informações do site têm como objetivo atenuar as adversidades psicológicas de quem lida com a doença, por meio de informações sobre como lidar com algumas das situações que a enfermidade gera.</p>
    </div>
</body>

</html>