<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/SuporteEmocional.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Suporte Emocional - ICare</title>
</head>

<body>
    <header>
        <a href="#"><img class="logo" src="img/• Hospital Infantil Premium •(1).png" alt=""></a>
        <nav>
            <img onclick="IconMenu()" class="iconNav" src="img/icons8-menu.svg" alt="">

            <ul class="nav-list">
                <li><a href="home.html">Home</a></li>
                <li><a href="Acervo.html">Acervo</a></li>
                <li><a href="contatos.html">Contatos</a></li>
                <li><a href="SobreNós.html">Sobre nós</a></li>
                <li><a href="Fale_Conosco.html">Fale Conosco</a></li>
            </ul>
        </nav>
    </header>
    <div class="ManeiasDeLidarem">
        <h2>MANEIRAS DOS PAIS LIDAREM COM A DOENÇA</h2>
        <p>O diagnóstico de câncer de uma criança não é só uma descoberta que afeta negativamente o infante, mas também
            sua família e todos seus entes queridos, especialmente seus pais. Portanto, é de suma importância que os
            responsáveis pela criança busquem maneiras de lidar com esse árduo processo. </p>

        <h3>Conseguindo ajuda e apoio de outros</h3>
        <p>As pesquisas mostram o que as pessoas provavelmente já sabem: receber apoio de outras pessoas ajuda e
            encoraja tanto as crianças quanto suas famílias, então permita que outras pessoas ajudem durante os tempos
            difíceis. <br> Sua família e amigos podem querer ajudar, mas não saberem como. Você pode: </p>
        <ul>
            <li>Diga para as pessoas como elas podem ajudar. Mantenha uma lista de coisas que os outros podem fazer por
                sua família: por exemplo, as pessoas podem cozinhar, limpar, fazer compras ou levar as outras crianças
                para suas atividades rotineiras</li>
            <li>Tomar a iniciativa: torne sua família, amigos e colegas de trabalho cientes do câncer de seu filho e do
                tratamento. Compartilhe o que puder enquanto se sentir confortável. </li>
        </ul>

        <h3>Conseguindo ajuda profissional</h3>
        <p>Se você não está dormindo bem, está em um clima deprimido frequentemente, sente irritabilidade ou ansiedade,
            converse com o seu médico. Ele pode fazer seu encaminhamento para profissionais da saúde que podem te
            ajudar, como psiquiatras, psicólogos ou assistentes sociais. Alguns pais também encontram conforto na
            espiritualidade, frequentando igrejas ou outros antros religiosos. </p>

        <h3>Encontrando um grupo de suporte</h3>
        <p>Alguns grupos de suporte realizam encontros presenciais, enquanto outros realizam encontros online. Alguns
            pais bodem se beneficiar das experiências e informações compartilhadas nesses grupos. </p>

        <h3>Mantendo o relacionamento</h3>
        <p>Relacionamentos são, muitas vezes, colocados sob bastante estresse e pressão quando o filho de um casal tem
            câncer. Algumas coisas podem ajudar a manter a relação saudável:</p>

        <ul>
            <li>Mantenha uma comunicação aberta. Cada pai possui diferentes métodos para enfrentar esse tipo de
                situação. Converse sobre como cada um lida melhor com o estresse; crie tempo para se conectar com seu
                conjugue, ainda que esse tempo seja limitado. </li>

            <li>Lembre-se que duas pessoas não lidam com esse tipo de coisa da mesma maneira. Então, se o seu parceiro
                não parece tão abalado quanto você, isso não significa que ele está sofrendo menos.</li>

            <li>Crie tempo para as pessoas amadas. Mesmo que seja uma ligação rápida ou mensagem, esse contato
                esporádico pode ser capaz de melhorar o dia das pessoas que você ama. </li>
        </ul>

        <h2>AJUDANDO A CRIANÇA A LIDAR COM A DOENÇA</h2>
        <p>O tratamento da doença provoca muitas mudanças na vida de uma criança. Essas mudanças de rotina, aparência e
            amizades podem ser especialmente difíceis de se lidar. Não ser capaz de ir para a escola ou realizar outras
            atividades normais pode fazer sua criança se sentir sozinha. Longas estadias no hospital e o tempo longe dos
            amigos e da família também pode gerar um impacto negativo. Você pode ajudar sua criança deixando-a viver a
            vida da forma mais normal possível; embora muitas atividades precisem ser alteradas, novas atividades e
            pessoas podem ser adicionadas em seus lugares. Conversar com outras famílias que estão passando por algo
            similar também pode ser beneficial. <br> Algumas maneiras de ajudar sua criança: </p>

        <ul>
            <li>Cuide de si. As crianças sentem quando seus pais estão estressados; saber que seus pais e irmãos estão
                recebendo apoio ajuda-as a lidar com o processo.</li>

            <li>Esteja aberto e pronto. Encoraje, mas não force, sua criança a compartilhar os sentimentos dela. Esteja
                pronto quando ela ir até você para conversar.</li>

            <li>Aprenda o que esperar. Pergunte como o tipo de tratamento que a criança vai receber pode afetá-la, para
                que você possa preparar seu filho</li>

            <li>Cheque atividades disponíveis no hospital. Aprenda sobre eventos e outras programações no hospital.
            </li>
        </ul>

        <h3>Mudanças na aparência</h3>
        <p>As mudanças que o câncer pode causar na aparência de um infante são notórias, e elas são especialmente
            agravantes nessa faixa etária, uma vez que as crianças podem ser bastante sensíveis em relação à sua
            aparência e a maneira que os outros respondem a elas. <br>
            Maneiras de ajudar sua criança a lidar com essas mudanças:
        </p>

        <ul>
            <li>Se prepare para a queda de cabelo. Se o tratamento pode causar queda capilar, deixe sua criança escolher
                um boné, lenço ou peruca que ela goste. Tente escolher uma peruca antes que o cabelo caia para que a cor
                possa combinar com a cor natural do cabelo. </li>

            <li>Fique atento às mudanças de peso. O tratamento pode causar perda ou ganho de peso; peça conselhos para
                seu nutricionista para que você saiba o que esperar e como você pode ajudar sua criança a se preparar
                para lidar com as mudanças físicas.</li>

            <li>Seja criativo. Você e sua criança podem comprar roupas que a criança gosta. Algumas vezes, uma camiseta
                legal ou um boné podem ajudá-la a manter uma boa autoestima.</li>
        </ul>

        <h3>Mudanças nas amizades</h3>
        <p>As amizades da sua criança serão testadas e podem mudar durante a jornada contra uma longa e preocupante
            doença. Algumas vezes, pode parecer que os antigos amiguinhos da sua criança não estão mais lá para
            apoiá-la, ou que elas não se importam. Porém, pode ser que os amigos simplesmente não saibam o que dizer, ou
            pode ser que eles estejam com medo de dizer coisas erradas. Ocasionalmente, pode parecer que os amigos da
            sua criança estão seguindo em frente com suas vidas, enquanto seu filho é deixado de fora daquele círculo de
            amizades. Instruir sua criança a tomar a iniciativa e contatar esses amiguinhos pode ser benéfico.
        </p>
        <p>A boa notícia é que a criança também pode fazer novos amigos durante essa experiência. Ir para grupos de
            suporte é uma boa maneira de se conectar com outros; o assistente social da criança também pode ser uma
            forma de suporte e orientação.
        </p>
        </p>
        <p>Existem algumas coisas que você pode fazer com a criança para diminuir essa reclusão e mitigar os efeitos
            negativos da doença na vida social do seu filho:</p>
        <ul>
            <li>Ajude sua criança a manter o contato com os amigos. Você pode encorajá-la e ajudá-la a se conectar com
                os amigos por meio de mensagens, e-mails, chamadas de vídeo online, ligações e redes sociais. Se
                possível, e quando sua criança estiver preparada, os amigos também podem visitá-la. </li>

            <li>Ajude sua criança a saber como reagir. Algumas pessoas vão encarar, confundir o sexo do seu filho ou
                fazer perguntas pessoas. Converse com sua criança e elabore uma abordagem que funciona para ela. Seu
                filho pode escolher responder ou ignorar comentários. </li>
        </ul>

        <h3>Mudanças nos sentimentos</h3>
        <p>Embora com o tempo muitas crianças consigam lidar bem, é comum que o seu filho ocasionalmente se sinta
            ansioso, triste, estressado, com medo ou retraído. Converse com sua criança sobre o que ela está sentindo e
            ajude-a a achar maneiras de lidar com esses sentimentos. Você e seu filho também podem se encontrar com um
            assistente social ou psicólogo para lidar com sentimentos que não possuem uma solução fácil ou que aparentam
            estar piorando com o tempo. Esses especialistas podem ajudar sua criança a gerenciar esses sentimentos
            problemáticos antes que eles causem problemas que impactem profundamente a saúde física e mental da criança,
            como alterações nos hábitos alimentares ou de sono, ansiedade severa ou depressão. </p>
        <p>Tranquilize seu filho e deixe ele saber que ele sempre pode contar com você. Ouça e fique aberto ao que a
            criança tem a dizer; algumas crianças preferem expressar sentimentos por meio de desenhos, pinturas, escrita
            ou música. <br>Tente essas dicas para ajudar sua criança a lidar com emoções problemáticas: </p>

        <ul>
            <li>Consiga ajuda se você percebe sinais de depressão na sua criança. É normal ela se sentir para baixo ou
                triste algumas vezes, mas se esses sentimentos duram muito e acontecem na maioria dos dias, isso pode
                ser um sinal de depressão. Depressão é uma condição médica que pode ser tratada; assistentes sociais,
                psicólogos, psiquiatras e outros especialistas são todos pessoas que podem oferecer apoio para sua
                criança durante esses tempos difíceis. </li>

            <li>Mantenha-se calmo. Sua criança pode sentir suas emoções; se você se encontra se sentindo triste ou
                ansioso frequentemente, converse com um profissional sobre a melhor maneira de lidar com essas emoções.
                No entanto, tome cuidado: se você constantemente esconde seus sentimentos do seu filho, ele também pode
                esconder os sentimentos dele de você. </li>

            <li>Encontre maneiras de distrair ou entreter seu filho. Jogar videogames ou assistir filmes pode ajudar sua
                criança a relaxar. Práticas como relaxamento muscular, meditação e biofeedback também podem ajudar.
            </li>
        </ul>

        <h2>AJUDANDO IRMÃOS E IRMÃS</h2>
        <p>Como um pai, você quer estar presente para todas as suas crianças, mas isso pode se tornar especialmente
            difícil quando uma delas está sendo tratada para câncer. Você pode notar que suas outras crianças estão
            tendo um tempo difícil e não sabem o que fazer. Simplesmente dizer para suas outras crianças que você sabe o
            quão aquilo é difícil para elas, e que você as ama, pode ser o suficiente para gerar um mínimo de conforto.
        </p>
        <p>Até pequenas quantidades de tempo e atenção podem fazer uma grande diferença para ajudar suas outras
            crianças. Embora alguns irmãos lidem bem com esse processo, alguns não conseguem; seja proativo e converse
            com os funcionários da escola dos seus filhos ou um assistente social. Eles podem te dar conselhos e te
            ajudar a achar programas locais de suporte e aconselhamento, ou outros serviços que podem ajudar. </p>

        <h3>Como suas crianças podem se sentir</h3>
        <p>Os irmãos de uma criança com câncer enfrentam muitas dificuldades. Muitos ficam tristes, com medo e confusos.
            Embora muitos tentem permanecer corajosos e prestativos, eles podem se sentir deslocados e sozinhos. <br> Os
            irmãos podem se sentir:</p>
        <ul>
            <li>Os irmãos podem se sentir</li>
            <li>Com raiva porque isso está acontecendo com sua família</li>
            <li>Preocupados que vão ter câncer também</li>
            <li>Culpados por serem saudáveis e se divertirem</li>
            <li>tristes pelo irmão ou irmã doente</li>
            <li>Sozinhos, negligenciados, ignorados e deixados de fora</li>
            <li>Solitários, pois eles interagem com os pais e amigos cada vez menos</li>
            <li>Com inveja da atenção e presentes que o irmão ou a irmã doente recebe</li>
            <li>Sobrecarregados com todas as mudanças</li>
            <li>Com vergonha da maneira que as pessoas encaram ou falam sobre o irmão ou irmã doente</li>
            <li>Preocupados com o que está acontecendo com a família.</li>
        </ul>
        <p>Além desses sentimentos, você também pode notar mudanças no comportamento dos irmãos. As crianças saudáveis
            estão tendo problemas para dormir? Seus filhos, antes crianças extrovertidas, agora parecem quietos e
            retraídas? Você notou alguma mudança nas notas dos seus filhos na escola? <br>Converse regularmente com seus
            filhos para saber como eles estão lidando, e fale sobre quaisquer mudanças que você notar. Pergunte para
            elas qual a parte mais difícil do que está acontecendo. Fale sobre maneiras que vocês podem trabalhar juntos
            para se ajudar. Busque a ajuda do médico das suas crianças para tratar problemas que perduram ou que pioram
            conforme o passar do tempo. </p>

        <h3>Maneiras de ajudar os irmãos </h3>
        <p>Essas sugestões já ajudaram outras famílias:</p>
        <ul>
            <li>Converse com amigos, família, professores, autoridades religiosas e outras pessoas. Peça para pessoas
                importantes na vida de sua família oferecer um apoio extra. A maioria das pessoas deseja ajudar e
                apreciarão o pedido. Tenha em mente que alguns adolescentes podem não querer que pessoas de fora do
                círculo familiar saibam o que está acontecendo na casa. Converse com seus filhos caso você possua planos
                de contatar outras pessoas, como professores, em nome deles. </li>

            <li>Converse e ouça suas outras crianças. Separe uma parte do dia, mesmo que seja somente alguns minutos,
                para passar um tempo com seus outros filhos. Diga para eles e demonstre que eles são amados. Pergunte
                como estão se sentindo, mesmo que você não tenha uma solução para esses sentimentos. Às vezes,
                simplesmente ouvir pode ser muito importante.</li>

            <li>Mantenha suas outras crianças informadas e envolvidas no processo. Converse com elas sobre o câncer do
                irmão ou irmã e explique para elas, da melhor maneira possível, o que esperar durante o tratamento. Se
                possível, encontre maneiras de incluí-las em visitas ao hospital. Se você está longe de casa, permaneça
                conectado através de mensagens e ligações. </li>

            <li>Mantenha as coisas da maneira mais normal possível. Faça planos para manter suas outras crianças
                envolvidas em eventos relacionados à escola e outras atividades que são importantes para elas. </li>
        </ul>

        <h2>SE OS TRATAMENTOS NÃO ESTIVEREM FUNCIONANDO</h2>
        <p>Embora tratamentos ajudem muitas crianças com câncer, eles podem não funcionar para alguns. Se o câncer que o
            seu filho tem não pode ser curado ou controlado, ele pode ser chamado de câncer avançado ou câncer terminal.
            Essa seção sugere maneira que você pode ajudar sua criança e fazer decisões sobre os cuidados no fim da
            vida.
        </p>

        <h3>Jeitos de ajudar seu filho</h3>
        <p>Embora tratamentos ajudem muitas crianças com câncer, eles podem não funcionar para alguns. Se o câncer que o
            seu filho tem não pode ser curado ou controlado, ele pode ser chamado de câncer avançado ou câncer terminal.
            Essa seção sugere maneira que você pode ajudar sua criança e fazer decisões sobre os cuidados no fim da
            vida.
        </p>
        <ul>
            <li>Deixe sua criança se divertir. Se o seu filho se sente preparado para fazer alguma coisa, encoraje ele;
                se ele não se sentir, deixe claro que também não tem problema. Caso tenha alguma festa, feriado ou outro
                evento o qual seu filho está ansioso para comparecer, sinta-se livre para celebrar antes; por exemplo,
                celebrar o Natal em um outro mês. Converse com sua criança sobre algo que ela gostaria de fazer, ou que
                ela gostaria que acontecesse. Existem organizações dedicadas a realizar esses tipos de desejos, elas
                podem ajudar os sonhos do seu filho se tornarem realidade. </li>

            <li>Viva um dia de cada vez. Conforme você passa por esse processo, lembre-se de cuidar de si. Você
                percorreu um logo e árduo caminho, está fazendo um trabalho maravilhoso e é mais forte do que imagina.
                Aproveite o máximo de cada dia, vivendo intensamente o presente e, ao fazer isso, ajudando sua criança a
                fazer o mesmo. Algumas vezes, coisas simples são as mais significativas, tanto para você quanto para seu
                filho.</li>

            <li>Continue criando memórias. Converse sobre eventos divertidos e memórias especiais. Fale sobre as muitas
                pessoas que gostam do seu filho e, se ele se sentir disposto, junte-se a ele para escrever, desenhar ou
                criar um álbum de fotos. Fale sobre as coisas especiais que sua criança fez e que todos vão se lembrar
                para sempre. Algumas crianças escolhem escrever cartas ou doar seus brinquedos para pessoas que elas
                amam.</li>

            <li>Seja honesto com seu filho. Já que você quer proteger sua criança, pode ser difícil saber conversar com
                ela sobre o fato de o tratamento não estar funcionando. Trabalhe com a equipe médica da sua criança para
                obter informações verdadeiras que sua criança pode entender. Ser honesto com seu filho, por mais difícil
                que isso seja, pode ser beneficial para ele. </li>

            <li>Peça ajuda e apoio. As pessoas que estão gerenciando os cuidados médicos da sua criança provavelmente já
                ajudaram outras famílias que enfrentavam uma situação similar. Converse com eles para aprender o que
                pode ajudar você e sua família a lidar com essas decisões no fim da vida da criança, preocupações e
                emoções. </li>

            <li>Ajude seu filho a se abrir. Ele pode estar percebendo, por meio de amigos, família e outros que o
                tratamento não está indo bem. Algumas crianças escolhem esconder o que elas sabem porque elas não querem
                te deixar chateado ou te fazer chorar. As crianças podem tentar proteger os outros de seus próprios
                medos e preocupações. Deixar sua criança saber que ela pode compartilhar qualquer coisa com você pode
                fazê-la se sentir menos aterrorizada e sozinha. </li>

            <li>Compartilhe suas crenças espirituais. Suas crenças podem confortar e ajudar sua criança, assim como elas
                confortam e ajudam você e outras pessoas em sua família. Alguns pais acreditam que ajuda ter algum
                membro de uma comunidade religiosa conversando com a criança e com a família. </li>
        </ul>

        <h3>Cuidados no fim da vida</h3>
        <p>Quando um diagnóstico terminal é dado para as crianças (geralmente uma expectativa de vida de 6 meses ou
            menos) e elas estão chegando no fim de suas vidas, elas podem ser elegíveis para receber cuidados
            paliativos. Esse tipo de cuidado providencia apoio médico, emocional e espiritual. Os cuidados paliativos
            ajudam seu filho a se sentir o mais confortável possível durante essa última etapa da vida, quando o
            tratamento não é mais capaz de controlar a doença. O foco são os cuidados, não a cura; no entanto, se a
            saúde da criança melhorar – o que é uma possibilidade -, o cuidado paliativo é descontinuado e a criança
            retorna ao tratamento ativo. </p>

        <h2>A VIDA APÓS A RECUPERAÇÃO</h2>

        <p>Pode ser difícil imaginar de início, mas, uma vez que a criança completa o tratamento, é provável que você se
            encontre pensando menos e menos sobre câncer. Com o tempo, as outras preocupações e alegrias da vida vão se
            tornar mais importantes. Algumas memórias vão sumir, e outras permanecerão. Alguns pais dizem que eles ainda
            se preocupam com o câncer; outros dizem que essa é uma preocupação que eles escolhem não ter. </p>

        <p>Você e sua família podem encontrar uma nova apreciação pela vida. Você pode se encontrar refletindo sobre a
            bondade da sua família, amigos e até estranhos. Você pode pensar sobre o quão corajoso seu filho foi. Você
            pode lembrar como você confiou na sua fé e coragem para te fazer passar por esse processo. </p>

        <p>Conforme os meses e anos passam, e sua criança permanece saudável, o câncer passa a não ser mais o centro das
            atenções. Ainda assim, você pode lembrar de alguns dias, como o dia do diagnóstico ou o último dia do
            tratamento, e até celebrar os dias positivos em certas datas. Você pode escolher se lembrar de tudo de
            diferentes maneiras. Algumas famílias passam um dia no parque; outras escrevem, se juntam com amigos, fazem
            uma viagem ou fazem uma ação caridosa para outras pessoas. Não existe uma maneira certa ou errada, só a
            maneira que funciona melhor para sua criança e sua família.</p>
    </div>
    <footer>
        <div class="sobre">
            <h4>Sobre</h4>
            <p>Sistema que ajuda no combate ao câncer infantil de modo <br> educativo que conta com um acervo de
                Informações <br> relacionadas ao câncer infantil e as circustâncias <br> provenientes da doença </p>
        </div>
        <div class="sociais">
            <h4>Redes Sociais</h4>
            <p>Facebook</p>
            <p>Instagram</p>
            <p><a href="home.html ">WWW.ICare.com.br</a></p>
        </div>
        <div class="explore">
            <h4>Explore</h4>
            <p><a href="O_Que_É_Câncer.html">O que é o Câncer</a></p>
            <p><a href="Tratamento.html">Tratamentos</a></p>
            <p><a href="Acervo.html">Nosso Acervo</a></p>
        </div>
    </footer>
</body>

</html>