@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width:100%;
}
.logo{
    width: 80px;
    height:80px;
    margin-top: 10px;
    margin-left: 40px;

}

nav{
    margin-left: -80px;
    position:fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
}

nav:after {
    clear: both;
    content: "";
    display: block;

}

.iconNav{
    float: right;
    margin-top: 20px;
    margin-right: -25px;
    cursor: pointer;
    display: none;
    
}

nav ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

nav li{
    list-style: none;
    float: left;
    margin: 0 15px;
    font-size:18px;
}

nav li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

nav li a:hover{
    color: #fbbe28;
}

a{
    text-decoration: none;
    font-size: 20px;
}


.EntradaHome{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 250px;
    
}

.EntradaHome h1{
    font-size: 85px;
}

.EntradaHome h2{
    font-size: 50px;
    color: #fbbe28;
}


/*----------------- Câncer Infantil ------------------ */

.bloco1{
    margin-top: 170px;
    text-align: center;
    margin-bottom: 110px;
}

.bloco1 h3{
    color: #fbbe28;
}


.bloco1 p{
    margin: 0 70px;
    padding: 15px;
    font-size: 17px;
    line-height: 200%;
    margin-bottom: 30px;
}

.bloco1 a{
    background: #fbbe28;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
}

.bloco1 a:hover{
    background: #fcc845;
    padding: 15px;
    transition: 0.5s;
}



.bloco2{
    text-align: center;
    padding: 20px;
}

.bloco2 h3{
    color:#fbbe28;
}

.bloco2 p{
    font-size: 18px;
    padding: 15px;
    margin: 0 70px;
    line-height: 200%;
    text-align: center;
    margin-bottom: 30px;
}
.bloco2 a{
    background: #fbbe28;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.bloco2 a:hover{
    background: #fcc845;
    padding: 15px;
    transition: 0.5s;
}

/*--------------------------- Artigos ---------------------*/

.bloco3{
  margin-top: 190px;
  padding: 20px;
}

.bloco3 h1{
    text-align: center;
    padding: 20px;
}

.artigos{
    display: flex;
}

.col-sm-4{
   padding:10px;
   margin: auto;      
}

.col-sm-4:hover{
    padding: 2px;
    transition: 0.5s;
}

.card-title{
    font-size: 18px;
    text-align: center;
}

.card-text{
    font-size: 15px;
    text-align: center;
}

.ler{
    background: #fbbe28;
    color: #fff;
    border-radius: 9px 9px;
    padding: 10px;
    font-size: 12px;
    display: grid;
    place-items: center; 
    font-size: 14.5px;

}

.ler:hover{
    margin: 10px;
    transition: 0.5s;
}

/* ======================= Ultimo bloco =========================*/

.bloco3{
    margin: 90px 0 0 50px;
    padding: 20px;
}

.blocoleft{
    margin-left: 20px;
}
.blocoright{
    float: right;
    margin-right: 50px;
    margin-bottom: 40px;
    font-size: 15px;
}

.blocoright h1{
    font-size: 30px;
}

/*======================= Footer ====================*/


footer{
    margin-top: 140px;
    display: flex;
    background: #fcc845;
    padding: 10px;
    height: 320px;
}

footer div{
    padding: 55px;
}

h4{
    font-size:20px;
    color: white;
}

footer p{
    color: dimgrey;
}

footer a{
    color: #666;
    font-size: 18px;
}

.explore{
    margin-left: 100px;
}
.explore a{
    font-size: 17px;
}

.explore a:hover{
    font-size: 20px;
    transition: 0.5s;
    color: black;
}

/*======================= Responsividade ====================*/

@media (max-width:800px){

    .nav-list {
        position: absolute;
        right: 1;
        width: 50vh;
        height: 100vh;
        background:#ffffff ;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: none;
        font-size: 15px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.164);
        
    }
    .iconNav {
        display: block;
    } 
    .open {
        display: flex ;
        justify-content: space-around ;
    }
}


@media screen and (max-width: 600px) {

    .EntradaHome h1{
        font-size: 60px;
    }

    .EntradaHome h2{
        font-size: 40px;
        padding: 12px;
        margin-top: 25px;
    }

    .bloco1 p{
        margin: 10px;
        padding: 5px;
    }

    .bloco2 p{
        margin: 5px;
        
    }


    .artigos{
        display: block;
    }
    .bloco3{
        text-align: center;
        margin: 0px 0px 0px 5px;
    }

    .bloco3 .ler{
        margin-right: 95px;
    }

}


/*======================= Animações ====================*/

*{
    animation-name: fade;  
    animation-duration: 1s;
    }
    @keyframes fade{
    from{
      opacity: 0;
      transform: scale(1);
    }
    to{
      opacity: 1;
    }
    }