@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width:100%;
}
.logo{
    width: 80px;
    height:80px;
    margin-top: 10px;
    margin-left: 40px;

}

nav{
    margin-left: -80px;
    position:fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
}

nav:after {
    clear: both;
    content: "";
    display: block;

}

.iconNav{
    float: right;
    margin-top: 20px;
    margin-right: -25px;
    cursor: pointer;
    display: none;
    
}

nav ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

nav li{
    list-style: none;
    float: left;
    margin: 0 15px;
    font-size:18px;
}

nav li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

nav li a:hover{
    color: #fbbe28;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.TextMain h1{
    text-align: center;
}

.TextMain p{
    padding: 5px;
    margin: 5px 75px 0 75px;
}

.IlustacaoDasCelulas p{
    padding: 5px;
    margin: 5px 75px 0 75px;
}

.ImgDiferençaEntreAsCelulas{
    display: inline;
    width: 550px;
    margin: 5px 75px 0 75px;
}



.CâncerInfantil h1{
    font-size: 30px ;
}

.CâncerInfantil h3{
    font-size: 22px;
    margin-left: 75px;
}









/*======================= Responsividade ====================*/

@media (max-width:800px){

    .nav-list {
        position: absolute;
        right: 1;
        width: 50vh;
        height: 100vh;
        background:#ffffff ;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: none;
        font-size: 15px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.164);
        
    }
    .iconNav {
        display: block;
    } 
    .open {
        display: flex ;
        justify-content: space-around ;
    }

    .TextMain{
        margin:15px;
    }

    .TextMain p{
        margin: 10px;
    }

    .ImgCancer{
        text-align: center;
        width: 300px;
    }

    .CâncerInfantil h3{
        text-align: center;
    }


}


/*======================= Animações ====================*/

*{
    animation-name: fade;  
    animation-duration: 0.5s;
    }
    @keyframes fade{
    from{
      opacity: 0;
      transform: scale(1);
    }
    to{
      opacity: 1;
    }
    }