@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width:100%;
}
.logo{
    width: 80px;
    height:80px;
    margin-top: 10px;
    margin-left: 40px;

}

nav{
    margin-left: -80px;
    position:fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
}

nav:after {
    clear: both;
    content: "";
    display: block;

}

nav ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

nav li{
    list-style: none;
    float: left;
    margin: 0 15px;
    font-size:18px;
}

nav li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

nav li a:hover{
    color: #fbbe28;
}

a{
    text-decoration: none;
    font-size: 20px;
}

select{
    background:transparent;
    border: none;
    font-size: 20px;
    color:#666;
    float: left;
    margin-top: 35px;
}



.home{
    margin-top: 130px;
    text-align: center;
}

.home h1{
    font-size: 80px;

}
.home h2{
    color:#fbbe28;
    font-size: 40px;
}

/*--------------------------- Artigos ---------------------*/

.bloco2{
  margin-top: 200px;
  padding: 20px;
}

.bloco2 h1{
    text-align: center;
    padding: 20px;
}

.artigos{
    display: flex;
}

.col-sm-4{
   padding:10px;
   margin: auto;      
}
.card-title{
    font-size: 18px;
    text-align: center;
}

.card-text{
    font-size: 15px;
    text-align: center;
}

.ler{
    background: #fbbe28;
    color: #fff;
    border-radius: 9px 9px;
    padding: 10px;
    font-size: 12px;
    margin-left: 100px;  

}

/* ======================= Ultimo bloco =========================*/

.bloco3{
    margin: 90px 0 0 50px;
    padding: 20px;
}

.blocoleft{
    margin-left: 20px;
}
.blocoright{
    float: right;
    margin-right: 50px;
    margin-bottom: 40px;
}

.blocoright h1{
    font-size: 30px;
}

@media screen and (max-width: 600px) {

    .home h1{
        font-size: 60px;
    }

    .home h2{
        
    }
    .artigos{
        display: block;
    }
    .col-sm-4{
        margin-left: 0px;
    }

    .bloco3{
        text-align: center;
        margin: 0px 0px 0px 5px;
    }

}
