@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


.logo{
    width: 80px;
    height:80px;
    margin-top: 10px;
    margin-left: 40px;

}

nav{
    margin-left: -80px;
    position:fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
}



.iconNav{
    float: right;
    margin-top: 20px;
    margin-right: -25px;
    cursor: pointer;
    display: none;
    
}

nav ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

nav li{
    list-style: none;
    float: left;
    margin: 0 15px;
    font-size:18px;
}

nav li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
    font-size: 21px;
}

#Abrace {
    float: left;
    width: 200px;
    height:150px;
    margin-top: 30px;
}

#invisivel{
    float: left;
    width: 200px;
    height:100px;    
}

#hope{
    float: left;
    width: 200px;
    height:165px;
    margin-top: 30px;
}

#graacc {
    float: left;
    width: 200px;
    height: 135px;
    margin-top: 30px;
}

#aacd {
    float: left;
    width: 200px;
    height:140px;
    margin-top: 30px;
}

#make {
    float: left;
    width: 200px;
    height:100px;
    margin-top: 30px;
}

#cabelo {
    float: left;
    width: 200px;
    height:150px;
    margin-top: 30px;
}


h1 {
    color:#2d1674;
    margin-top:30px;
    font-size: 25px;
    margin-left: 230px;
    
}

h2 {
    color:#2d1674;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 230px;
}

#p1 {
    column-count: 2;
}

p{
    margin-top: 20px; 
    margin-left: 230px;
}

#tudo{
    margin: 40px;
}