@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width:100%;
}
.logo{
    width: 80px;
    height:80px;
    margin-top: 10px;
    margin-left: 40px;

}

nav{
    margin-left: -80px;
    position:fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
}

nav:after {
    clear: both;
    content: "";
    display: block;

}

.iconNav{
    float: right;
    margin-top: 20px;
    margin-right: -25px;
    cursor: pointer;
    display: none;
    
}

nav ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

nav li{
    list-style: none;
    float: left;
    margin: 0 15px;
    font-size:18px;
}

nav li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

nav li a:hover{
    color: #2eabf3;

}

a{
    text-decoration: none;
    font-size: 20px;
}











/*======================= Animações ====================*/

*{
    animation-name: fade;  
    animation-duration: 1s;
    }
    @keyframes fade{
    from{
      opacity: 0;
      transform: scale(1);
    }
    to{
      opacity: 1;
    }
    }